@import url(https://fonts.googleapis.com/css?family=Pompiere);
@import url(https://fonts.googleapis.com/css?family=Rouge+Script);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);
:root {
  --primary: #f19641;
  --dark: #173c48;
  --white: #ffebd3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Pompiere";
  font-size: 1.3rem;
}

p {
  margin: 10px 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #f19641;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 1em;
}

h1::after {
  background-image: url(/assets/Ornament-center.svg);
  background-size: 100px 50px;
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 100px;
  height: 50px;
  content: "";
}

h2 {
  font-size: 1.4rem;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.3rem;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

img {
  width: 100%;
}

section {
  min-height: 100vh;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Top Bar */
.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--dark);
  z-index: 10;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  text-transform: uppercase;
  list-style: none;
  padding: 20px;
}

nav a {
  color: #ffebd3;
}

nav a:hover {
  border-bottom: 2px var(--primary) solid;
}

.logo {
  width: 300px;
}

.logo a:hover {
  border: 0;
}

.knapp {
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: var(--primary);
  white-space: nowrap;
}

.knapp:hover {
  border: none;
  background-color: var(--white);
}

/*Sections*/
#invitation {
  text-align: center;
}

#invitation p {
  font-family: "Rouge Script";
  text-transform: none;
  font-size: 96px;
  line-height: 96px;
  padding-bottom: 40px;
}

#invitation h3 {
  text-transform: uppercase;
}

#invitation h2 {
  font-size: 1.4em;
}

.ornament {
  padding-top: 20px;
  width: 100px;
}

#bilder1 {
  height: 100vh;
  max-width: 1140px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.cornergraphic1 {
  position: absolute;
  bottom: 75%;
  left: 18%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 6;
}

.blomster1 {
  position: absolute;
  left: 20%;
  bottom: 40%;
  max-width: 60%;
  max-height: 40vh;
  z-index: 3;
}

.blomster2 {
  position: absolute;
  left: 15%;
  top: 50%;
  max-width: 40%;
  max-height: 30%;
  z-index: 0;
}

.blomster3 {
  position: absolute;
  right: 15%;
  top: 60%;
  max-width: 40%;
  max-height: 30%;
  z-index: 2;
}

.daggrid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.dag {
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.dag ul {
  list-style: none;
}

.dag li {
  position: relative;
  padding-bottom: 1.5rem;
  border-left: 1px solid var(--primary);
  padding-left: 20px;
}

.dag li:last-child {
  border: 0;
}

.dag li:before {
  content: "";
  border: 2px solid var(--primary);
  background-color: var(--dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -7px;
}

#bilder2 {
  height: 100vh;
  max-width: 1140px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.smokin1 {
  position: absolute;
  top: 20%;
  right: 45%;
  width: 30%;
  z-index: 2;
}

.smokin2 {
  position: absolute;
  top: 30%;
  width: 30%;
  left: 50%;
}

.cornergraphic2 {
  position: absolute;
  bottom: 30%;
  left: 18%;
  z-index: 6;
}

#informasjon div {
  max-width: 500px;
  padding: 20px;
}

#informasjon ul {
  list-style: none;
}

#informasjon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#informasjon li img {
  width: 40px;
  padding-top: 10px;
}

#informasjon h2 {
  text-align: center;
}

#bilder3 {
  height: 100vh;
  max-width: 1140px;
  margin: auto;
  position: relative;
}

.smilende {
  width: 80%;
  max-width: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cornergraphic3 {
  position: absolute;
  bottom: 25%;
  left: 10%;
  z-index: 6;
}

#svar {
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 80px;
}

#svar .alert {
  padding: 10px;
  text-align: center;
  background: var(--dark);
  border-radius: 5px;
  width: 450px;
  display: none;
}

#svar form {
  max-width: 450px;
  margin: auto;
  padding: 20px;
}

#svar input[type="text"],
#svar input[type="email"] {
  color: black;
  background-color: var(--white);
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  float: right;
  width: 80%;
  height: 2rem;
  padding: 5px;
}

#svar input[type="radio"] {
  margin-right: 1em;
}

#svar input[type="checkbox"] {
  margin-right: 0.5em;
}

#svar label {
  line-height: 2;
  margin-right: 1em;
  white-space: nowrap;
}

#svar button {
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
  border: 0;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

#svar button:hover {
  background-color: var(--white);
}

#my-response-iframe {
  visibility: hidden;
  height: 1px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(assets/kveld.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
}

/* Media queries */
@media (max-width: 768px) {
  nav {
    width: 95%;
    padding: 5px;
    font-size: 0.9em;
  }
  nav li {
    padding: 10px;
  }
  .cornergraphic1 {
    max-width: 30%;
    left: 5px;
    bottom: 60%;
  }
  .blomster1 {
    left: 5px;
    max-width: 80%;
  }
  .blomster2 {
    max-width: 80%;
  }
  .blomster3 {
    right: 5px;
    max-width: 80%;
  }
  .smokin1 {
    width: 50%;
  }
  .smokin2 {
    width: 40%;
  }
  .cornergraphic2 {
    left: 0;
  }
  #invitation p {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1em;
  }
  .daggrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */